.homeP {
  padding-bottom: 10vw;
  padding-top: 5vw;

  &__deck {
    @include regular-font;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-align: center;

    b {
      font-size: 150%;
    }
  }

  &__eg {
    background-color: transparent;
    border: 0;
    color: $dark-gray;
    cursor: pointer;
    padding: 10px 20px;
    text-align: left;
    margin-left: -12vw;

    &:hover {
      text-decoration: underline;
    }
  }

  &__form {
    padding-top: 3vw;
    text-align: center;
  }

  &__input {
    border: 0;
    border-bottom: 3px $dark-gray solid;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    width: 80%;

    &:focus {
      border-bottom: 3px $sea-green solid;
      outline: 0;
    }
  }

  &__slogan {
    @include regular-font;
    font-size: 4.5vw;
    text-align: center;
  }
}
