.homeP {
  padding-bottom: 10vw;
  padding-top: 5vw;

  &__deck {
    @include regular-font;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-align: center;

    b {
      font-size: 150%;
    }
  }

  &__eg {
    background-color: transparent;
    border: 0;
    color: $dark-gray;
    cursor: pointer;
    padding: 10px 20px;
    text-align: left;
    margin-left: -12vw;

    &:hover {
      text-decoration: underline;
    }
  }

  &__form {
    padding-top: 3vw;
    text-align: center;

  }

  &__textarea {
    border: 0;
    border: 3px $dark-gray solid;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    width: 80%;
    margin-bottom: 3vh;

    &:focus {
      border: 1px $sea-green solid;
      outline: 0;
    }
  }

  &__slogan {
    @include regular-font;
    font-size: 4.5vw;
    text-align: center;
  }

  &__submit {
    text-transform: uppercase;
    outline: 0;
    background: #29c28a;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    max-width: 300px;
    cursor: pointer;
  }
}
