.homeP {
  padding-top: 5vw;

  &__deck {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-align: center;

    b {
      font-size: 150%;
    }
  }

  &__form {
    padding-top: 3vw;
    text-align: center;
  }

  &__input {
    border: 0;
    border-bottom: 3px $dark-gray solid;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    text-transform: capitalize;
    width: 80%;

    &:focus {
      border-bottom: 3px $sea-green solid;
      outline: 0;
    }
  }

  &__slogan {
    font-family: 'Nunito', sans-serif;
    font-size: 4.5vw;
    text-align: center;
  }
}
