.howtop {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  text-align: center;
  transition: height 200ms ease;

  &.open {
    height: 50vh;
  }

  &__button {
    background: transparent;
    border: 0;
    color: $sea-green;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 0.05em;
    line-height: 1;
    margin: 25px auto 0;
    text-decoration: none;

    &:hover,
    &:visited {
      border-bottom: 1px $sea-green dashed;
    }

    &:focus {
      outline: 0;
    }
  }

  &__list {
    margin: 25px auto 0;
    padding: 0;
  }

  &__item {
    @include inconsolata-font;

    color: $super-dark-gray;
    font-size: 34px;
    // font-weight: bold;
    letter-spacing: 0.07em;
    line-height: 1.6;

    &.intro {
      // @include regular-font;

      letter-spacing: 0.4em;
      span {
        background-color: #fff;
        color: $sea-green;
      }
    }

    span {
      background-color: $sea-green;
      color: #fff;
      padding: 2px 10px;
    }
  }

}
