.NetworksP {
  padding-top: 2vw;

  &__deck {
    @include regular-font;
    font-size: 2.5vw;

    b {
      font-size: 120%;
    }
  }

  &__image {
    background-color: #fff;
    margin: 0 30px 20px 0;
    width: 30%;
  }

  &__item {
    display: inline;
    list-style: none;
  }
}
